*, *::before, *::after {
  box-sizing: border-box;
  color: #FFF;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "Heroic", "Oswald", "Arial Narrow", Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  justify-content: space-between;
  background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px; */
  padding: 3px;
  gap: 3px;
}

/*should set this to take up 1 fraction of 3 of the container */
.headline-box {
  box-sizing: border-box;
  background-color: black;
  flex-grow: 1;
  width: 32%;
}

.white-area-container {
  display: flex;
  max-width: 1300px;
  background-color: white;
  width: 100%;
  padding: 2em 5em;
  gap: 2em;
}

.compact-container {
  display: flex;
  flex-direction: column;  
}

.featured-video-headline {
  color: #e2127A;
  display: flex;
  align-self: center;
  letter-spacing: 0.05em;
}
.video-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;  
}

.video-box {
  margin: 1em;
  position: relative;
}

.video-img {
  max-width: 100%;
  max-height: 100%;
}

.img-and-playbutton-svg-container{
  position: relative;
}

.playbutton-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: hsla(0,0%,100%,.9);
  border-radius: 30%;
  padding: 10%;
}

/* playbutton-svg path {
 fill: #e2127A;
} */



.title-video {
  color: black;
  font-family: Helvetica;
  text-decoration: none;
  font-size: 1em;
}

.compact-img {
  width: 25%;
  max-width: 100%;
  max-height: 100%;
}

.compact-body {
  display: flex;
  border-top: 1px solid #e7e7e8;
  margin-bottom: .5em;  
}

.author-compact {
  font-size: .90rem;
  font-weight: 300;
  font-family: "Helvetica", "Arial Narrow", Arial, sans-serif;
  color: #e2127A;
}

.title-compact {
  display: flex;
  color: #000;
  font-weight: 600;
  padding-left:1rem;
  font-size: 1rem;
  font-family: "Helvetica", "Arial", "Arial Narrow", Arial, sans-serif;
}


p {
  margin: 0;
}

.compact-wrapper {
  display: flex;
  flex-direction: column;
}

.by-compact {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 1rem;
  font-size: .90rem;
  color: black;
}

/* .flex-column {
  flex-grow: 1;
  background-color: blue;
} */

.last-article-container {
  max-width: 1300px;
  background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
}

.last-art-wrapper-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding:  2em 6em 2em 0;
}

.funnyline a {
  font-size: 2.5rem;
  letter-spacing: .03em;
  font-style: italic;
  font-weight: 600;
  padding: .3em;
  color: black;
  margin-right: 4em;
}

img.article-image {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

.author {
  color:#e2127A;
  font-size: 1rem;
  font-family: "Heroic", "Oswald", "Arial Narrow", Arial, sans-serif;
}

.author-last {
  color: black;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Heroic", "Oswald", "Arial Narrow", Arial, sans-serif;
  letter-spacing: .1em;
}

.by-last {
  color: black;
  font-family: Oswald;
  padding-left: 1rem;
  font-size: 1rem;
}

.author:hover {
  color:#B30E61;
}

.last-article-container .author {
  color: black;
}

.last-article-container .author:hover {
  color:#B30E61;;
}

.title a {
  display: flex;
  color: #FFF;
  padding-top: 1rem;
  padding-left:1rem;
  padding-right:1rem;
  font-family: "Heroic", "Oswald", "Arial Narrow", Arial, sans-serif;
}

.title-10 {
  display: flex;
  
  text-align: right;
  color: #000;
  font-weight: 600;
  font-family: "Helvetica", "Arial", "Arial Narrow", Arial, sans-serif;
}

.title:hover {
  color:#B30E61;
}

.by {
  font-family: Oswald;
  padding-left: 1rem;
  font-size: 1rem;
}

h1 {
  color: white;
}

h3 {
  font-family: "Arial-narrow", Helvetica, sans-serif;
}

.banner-container {
  position: relative;
  width: 100%;
  max-height: 300px;
  display: inline-block; /* <= shrinks container to image size */
  text-align: center;
}

.banner-container img {
  width: 100%;
  max-height: 300px;
  object-fit: cover; 
  display: block;
  max-width: 100%;
  height: auto;
}

 .banner-container svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-height: 40%;
  max-width: 40%;
  /* max-width: 700px; */
  /* max-height: 200px; */
}

.banner-container .date {
  position: absolute;
  display: block;
  width: 100%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .07rem; 
}

/* This needs to stop shrinking */
footer svg {
  width: 10%;
  min-width: 20%;
  
}

footer a {
  color:#e2127A;

}

a:hover {
  color:#B30E61;
}

/* footer {
  text-align: left;
  display: inline;
  
}

ul.horizontal-bullets {
  display: inline-block;
  text-align:center;
}
*/

/* ul.horizontal-bullets li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}  */

footer {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: .85rem;
  max-width: 1300px;
  margin: 1em;
}

footer-container {
  max-width: 1300px;
}

/* It was quite suprising to discover there wasn't a straight forward way to make a horizontal bullet list */
footer ul li { 
  list-style: none; 
  display: inline;
  white-space: pre;
  margin: .3em;  
}

/* unicode for spaces and bullet */
footer ul li:not(:last-child):after { 
  content: " \00a0\2022";  
} 
/* \00a0" */

.footer-ul-wrapper {
  max-width: 50%;
  padding: 0 3em;

}

/* Not sure why I need to use !important here, but the Bootstrap nav colors wont get overriden otherwise... */
.nav-link {
  color: white  !important;
}

.nav-link:hover {
  color: #fcfcfccb  !important;
}

.dropdown-toggle::after  {
  color:#e2127A;
}

.dropdown-menu-dark.show {
  background-color: black ;
}