*, *::before, *::after {
  box-sizing: border-box;
  color: #FFF;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "Heroic", "Oswald", "Arial Narrow", Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  justify-content: space-between;
  background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px; */
  padding: 3px;
  gap: 3px;
}

/*should set this to take up 1 fraction of 3 of the container */
.headline-box {
  box-sizing: border-box;
  background-color: black;
  flex-grow: 1;
  width: 32%;
}
/* .flex-column {
  flex-grow: 1;
  background-color: blue;
} */

.last-article-container {
  /* width: 1300px; */
  background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 20rem;
}


img.article-image {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

.author {
  color:#e2127A;
  font-size: 1rem;
  font-family: "Heroic", "Oswald", "Arial Narrow", Arial, sans-serif;
}

.author:hover {
  color:#B30E61;
}

.last-article-container .author {
  color: black;
}

.title {
  display: flex;
  color: #FFF;
  padding-top: 1rem;
  padding-left:1rem;
  padding-right:1rem;
  font-family: "Heroic", "Oswald", "Arial Narrow", Arial, sans-serif;
}

.title:hover {
  color:#B30E61;
}

.by {
  font-family: Oswald;
  padding-left: 1rem;
  font-size: 1rem;
}

h1 {
  color: white;
}

h3 {
  font-family: "Arial-narrow", Helvetica, sans-serif;
}

/* img.banner {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
} */

.banner-container {
  position: relative;
  width: 100%;
  max-height: 300px;
  display: inline-block; /* <= shrinks container to image size */
  text-align: center;
}

.banner-container img {
  width: 100%;
  max-height: 300px;
  object-fit: cover; 
  display: block;
  max-width: 100%;
  height: auto;
}

/* svg {
  display: block;
  position: absolute;
  object-fit: contain;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  max-height: 200px;
  max-width: 700px;

} */

 .banner-container svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  max-height: 40%;
  max-width: 40%;
  /* max-width: 700px; */
  /* max-height: 200px; */
}

.banner-container .date {
  position: absolute;
  display: block;
  width: 100%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .07rem; 
}

footer svg {
  width: 10%;
}

footer a {
  color:#e2127A;

}

a:hover {
  color:#B30E61;
}

/* footer {
  text-align: left;
  display: inline;
  
}

ul.horizontal-bullets {
  display: inline-block;
  text-align:center;
}
*/

/* ul.horizontal-bullets li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}  */

footer {
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: .85rem;
  max-width: 1300px;
}

footer-container {
  max-width: 1300px;
}

/* It was quite suprising to discover there wasn't a straight forward way to make a horizontal bullet list */
footer ul li { 
  list-style: none; 
  display: inline;
  white-space: pre;
  margin: .3em;  
}

/* unicode for spaces and bullet */
footer ul li:not(:last-child):after { 
  content: " \00a0\2022";  
} 
/* \00a0" */

.footer-ul-wrapper {
  max-width: 50%;

}

.title-10 {
  display: flex;
  text-align: center;
  color: #000;
  font-weight: 600;
  padding-left:1rem;
  padding-right:1rem;
  font-family: "Helvetica", "Arial", "Arial Narrow", Arial, sans-serif;
}

/* Not sure why I need to use !important here, but the Bootstrap nav colors wont get overriden otherwise... */
.nav-link {
  color: white  !important;
}